*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.baha{
    background-color: burlywood;
}
.baha_blok{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.baha_logo{
    color: brown;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    text-transform: uppercase;
}
.baha_list{
    display: flex;
    
}
.baha_link{
    color: crimson;
    font-size: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
